.text-left.shadow-lg.swiper-button-prev {
  display: block;
}

/* show slider swipper for tablets and higher */

@media (max-width: 768px) {
  body {
    text-align: center;
  }
}

/* slider with quotes */

@media (max-width: 768px) {
  .text-left.shadow-lg.swiper-button-prev {
    display: none;
  }
}

@media (max-width: 768px) {
  .text-right.swiper-wrapper {
    padding-left: 10px !important;
  }
}

/* main slider */

@media (max-width: 768px) {
  .d-flex.swiper-slide.slide-main {
    background: none !important;
  }
}

